<div class="mainDiv">
  <div class="bisIcon">
    <img src="../../../assets/images/BIS White header.png" alt="blockchain innovation society" width="40" height="45" />
  </div>
  <div class="menuTab">
    <div class="tabGroup">
      <mat-tab-group>
        <mat-tab label="HOME"></mat-tab>
        <mat-tab label="EDUCATION"></mat-tab>
        <mat-tab label="RESEARCH"></mat-tab>
        <mat-tab label="CONSULTING"></mat-tab>
        <mat-tab label="INVESTMENTS"></mat-tab>
        <mat-tab label="CONTACTS"></mat-tab>
      </mat-tab-group>
    </div>
    <div>
      <button class="donateButton">DONATE</button>
    </div>
  </div>
</div>