.mainDiv {
    background-color: #2E313A;
}

#donateButton {
    color: white;
    border-color: white;
    font-size: 10px;
    height: 30px;
    background-color: #2E313A;
    width: 80px;
    border-radius: 4px;
}

.menuOptions {
    font-size: 10px;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    height: 35px;
    font-weight: 500;
}

.bisIcon { 
    background-color: #2E313A;
}
.menuTab{
    display: flex;
    height: 30px;
}

.container-fluid {
    margin:0px;
}
.padding-left-sm {
    padding-left:3%;
}
.padding-right-sm {
    padding-right:3%;
}
.padding-top-sm {
    padding-top:2%;
}
.padding-bottom-sm {
    padding-bottom:1%;
}
.donateButtonClass {
    display: flex;
}