<div class="container-fluid mainDiv row padding-left-sm padding-right-sm padding-top-sm padding-bottom-sm">
  <div class="  col-sm-2 bisIcon align-self-center">
    <img src="../../../assets/images/BIS White header.png" alt="blockchain innovation society" width="45" height="50" />
  </div>
  <div class=" col-sm-9 menuTab justify-content-end align-self-center ">
    <nav mat-tab-nav-bar>
      <a class="menuOptions" [routerLink]="['home']">HOME</a>
      <a class="menuOptions " [routerLink]="['']">EDUCATION</a>
      <a class="menuOptions  " [routerLink]="['']">RESEARCH</a>
      <a class="menuOptions  " [routerLink]="['consulting']">CONSULTING</a>
      <a class="menuOptions  " [routerLink]="['']">INVESTMENTS</a>
      <a class="menuOptions  " [routerLink]="['consulting']">CONTACTS</a>
    </nav>
  </div>
  <div class="donateButtonClass col-sm-1 justify-content-end align-self-center">
    <button id="donateButton">DONATE</button>
  </div>
</div>