#leaders {
    text-align: center;
}
#card-container {
    display: inline-grid;
    }

#roles {
    margin-bottom: 0%;
}

#matCard {
    margin: 0%;
    padding:4%;
}
.padding {
    margin-left: 10%;
    margin-top: 5%;
}

#leadersiv {
    margin-left: 10%;
}