<div class="title text-center">Donations</div>
<div class="row col-md-12">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <img   src="assets/images/Canvas.png">
  </div>
  <div class="canvas col-md-6 col-sm-6 col-xs-6">
    <div class="text_canvas">BIS is a registered 501(c)(3)<br>
    non profit, and all <span class="canvas_highlight">donations<br>
    are tax deductable</span> ­ even<br>
    crypto.</div>
    <div class="button_div">
      <button> DONATION FORM </button>
    </div>
  </div>
</div>
