
<div>
  <h2 id="conactusheader">Contact Us</h2>
  <p id="subtitle">Let us known how we are doing</p>
</div>
<form matFormField>
      <span> Email:
      <input id="contactus_email_id" matInput placeholder="Email" />
        <br>
      </span>
      <span> Phone Number:
        <input id="contactus_phone_number" matInput placeholder="Phone Number" />
        <br>
      </span>
      <span> Address:
        <input id="contactus_address" matInput placeholder="Address" />
        <br>
        </span>
      <span> Message:
        <input id="contactus_message" matInput placeholder="Message" />
        <br>
      </span>

      <button id="submitButton" mat-button>Submit</button>
</form>
