#aboutHeader {
  text-align: center;
  color : #2E313A;
  font-family: 'Bold';
  font-size: 40px;
}
.aboutSubHeader {
  text-align: center;
  color: #2E313A;
  padding: 2%;
  font-size: 12px;
  font-family: 'Regular';
}
.aboutIcon {
  padding-left: 40%;
  margin: 0 0 30px 0;
}

.aboutSubHeaderLabel {
  font-weight: bold;
  padding-bottom: 1%;
}
.aboutDiv {
  padding-left: 10%;
  padding-right: 10%;
}
#educate{
  color:#2F0D9D;
  font-family:'Bold'
}
#create{
  color:#4CBD5E;
  font-family:'Bold'
}
#innovate{
  color:#EA2A40;
  font-family:'Bold'
}
