#aboutHeader {
  text-align: center;
  color : grey;
  font-family: 'Bold';
}
.aboutSubHeader {
  text-align: right;
  color: grey;
  padding: 2%;
  font-family: 'Italic';
}
.aboutIcon {
  float: left;
}

.aboutSubHeaderLabel {
  font-weight: bold;
  padding-bottom: 1%;
}
.aboutDiv {
  padding-left: 10%;
  padding-right: 10%;
}
