<div class="aboutDiv">
  <h4 id="aboutHeader">About Us</h4>
  <div class="aboutBody">
    <div class="aboutSubHeader col-md-12 col-sm-12 col-xs-12">
      <div class="aboutSubHeaderLabel">MISSION</div>
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2 ">
          <img class="aboutIcon" src="assets/images/graduation.png">
        </div>
        <div class="aboutSubText col-md-10 col-sm-10 col-xs-10">
          Educate. Create. Innovate. <br/>
          The Blockchain Innovation Society exists to educate universities, businesses and individuals on blockchain technology and
          decentralized systems. Through education, our mission is to foster a community of scholars, organizations and prodessionals to
          create content, ask questions, and share ideas.
        </div>
      </div>
      <br>
    </div>
    <div class="aboutSubHeader col-md-12 col-sm-12 col-xs-12">
      <div class="aboutSubHeaderLabel">COMMUNITY</div>
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2 ">
          <img class="aboutIcon" src="assets/images/emoticon-with-happy-face.png"  height="36" weight="36">
        </div>
        <div class="aboutSubText col-md-10 col-sm-10 col-xs-10">
          Fostering an ecosystem of growth, education, and innovation comes from chartering our society to universities, organizations,
          and communities around the globe. This ecosystem consists of member-made content in the form of articles, education material,
          videos, podcasts and anything else blockchain related. As our ecosystem expands, we encourage our members to utilize our
          platform to introduce this technology to a broader audience.
        </div>
      </div>
      <br>
    </div>
    <div class="aboutSubHeader col-md-12 col-sm-12 col-xs-12">
      <div class="aboutSubHeaderLabel">ROADMAP</div>
      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2 ">
          <img class="aboutIcon" src="assets/images/globe.png" height="36" weight="36">
        </div>
        <div class="aboutSubText col-md-10 col-sm-10 col-xs-10">
          The Blockchain innovation Society started at Arizona State University, in the Fall of 2017. Since then, we’ve created an active
          ecosystem of students, industry executives and community members. In this ecosystem we’ve implemented a curriculum
          consisting of lectures, guest speakers and committees. As Fall of 2018 approaches, we are expanding the Blockchain
          Innovation Society into five more academic universities across the United States. As our community grows, so will our
          educational curriculum, content and research. Contact us if you’re interested in creating a charter or joining one near you.
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
