<div class="aboutDiv">
  <h4 id="aboutHeader">"Educate. Create. Innovate."</h4>
  <br><br><br>
  <div class="aboutBody">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class ="col-md-10 col-sm-10 col-xs-10 ">
        <img class="aboutIcon" src="assets/images/ic_school_24px.png" height="36">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
          <div class="aboutSubHeader">
            <div class="aboutSubText">
              The Blockchain Innovation Society (BIS) is a
              registered 501(c)(3) non­profit that exists to <span id="educate">educate</span>
              individuals, institutions and businesses on blockchain
              technology and its effects on the global economy.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="col-md-10 col-sm-10 col-xs-10">
        <img class="aboutIcon" src="assets/images/ic_poll_24px.png"  height="36" weight="36">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="aboutSubHeader">
          <div class="aboutSubText">
            We <span id="create">create</span> value by producing quality educational
            content for the blockchain community, in addition to
            consulting with businesses seeking tailored
            information.
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="col-md-10 col-sm-10 col-xs-10">
        <img  class="aboutIcon" src="assets/images/ic_wb_incandescent_24px.png" height="36" weight="36">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="aboutSubHeader">
          <div class="aboutSubText">
            Our network of researchers, academics and industry
            professionals allow us to continuously <span id="innovate">innovate</span>,
            keeping us at the forefront of blockchain technology in
            both research and real world applications.
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
