#title{
  font-family: "Bold";
  font-size: 40px;
}
#main_div{
  padding-top: 10%;
  padding-left: 27%;
  padding-bottom: 7%;
}
label{
  font-family: "Regular";
  color:white;
  background-color: #2E313A;
  display: inline-block;
  top: 0;
  left: 0;
  padding: 3px 3px;
  transition: all .3s ease-in-out;
  width: 10%;
  text-align: center;
}
input{
  text-align: right;
}
#state{
  padding: 5px 4px;
}
#first_name{
  margin-right: 5%;

}
#email{
  margin-right: 5%;
}
.checkbox_label{
font-family: "Regular";
color:#2E313A;
background-color: white;
  margin-right: 1.5%;
}
.gap{
  margin-bottom: 2%;
}
select{
  width: 19%;
}
#title{
  margin-bottom: 2%;
}
#comment{
  width: 64%;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

