form {

}
#blockchainHeader {
  color : black;
  padding-left: 5%;
  padding-top: 5%;
  margin: 0;
  font-size: 4em;
  font-family: 'Bold';
  line-height: 80%;
}

.subtitle {
  color : black;
  font-size: 17px;
  padding-top: 5px;
  margin: 0;
  font-family: 'Regular';
}
#email {
  padding: 5%;
  float: right;
}

#email p {
  font-size: 8px;
}
#statement {
  font-size: 20px;
  text-align: right;
  padding: 5%;
  color: black;
  font-family: 'Regular';
  font-weight: bold;
}

#submitButton {
  background-color: black;
  color: white;
  height: 32px;
  float: right;
}
#emailInput {
  color: black;
 border:0.5px solid black;
  height: 32px;
  width: 250px;
  float: right;
  margin:0;
  padding-left: 3%;
  font-size: 15px;
}
p#statement {
  margin-bottom: 8%;
}
#blockchainVideoHeader{
  background-color:rgba(5, 5, 139, 1);
  text-align: left;
  vertical-align: middle;
  padding: 2%;
  font-size: 24px;
  margin: 0;
  padding-left: 50px;
}
.blockchainVideo {
  width:70%;
}
.test {
  padding-top:50px;
  height: 400px;
  display:flex;
}
.blockchainVideoDiv {
  height: 550px;
  margin-bottom: 3%;
  background: #2E313A; 
  width: 100%;
}
.videoHeaderDiv {
  background: rgb(2, 2, 129);
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0px;
}
.blockChainImage {
  width: 120%;
  height: 160px;
  margin-top: 10px;
}
.blockChain {
  padding: 5%;
  padding-left: 8%;
  margin-bottom: 5%;
}

.rightBlockNewsletter {
  padding-right: 8%;
  padding-top: 5%;
}
.termsText {
  float: right;
  padding-top:1%;
  font-weight: 200%;
}
hr {
  margin-bottom: 0px !important;
}
/* .landingMainDiv {
  width: 100%;
  padding:0px;
  margin:0px;
} */