<app-placeholder></app-placeholder>
<app-header></app-header>
<div>
    <h2 id="blockchainHeader">Blockchain Innovation Society</h2>
    <p id="subtitle">Leaders in Blockchain Innovation</p>
</div>

<form matFormField>
    <span id="email">
        <input id="emailInput" matInput placeholder="Email" />
        <button id="submitButton" mat-button>Submit</button>
        <br>
        <p id="statement">Join our newsletter for updates. We will not use your personal information for anything else.
        </p>
    </span>

</form>

<div id="blockchainVideoDiv">
    <h4 id="blockchainVideoHeader">What is Blockchain...</h4>
    <iframe id="blockchainVideo" src="https://www.youtube.com/embed/A6XUVjK9W4o" frameborder="0" allowfullscreen></iframe>
</div>
<app-landing-page-about></app-landing-page-about>