<div class="row col-md-12">
  <div class="blockChain col-md-7 col-sm-12 col-xs-7 ">
    <div class="row col-md-12">
      <div class="col-md-3 col-sm-3 col-xs-3 ">
        <img class="blockChainImage" src="assets/images/bis_bis-mark-20.png">
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8 ">
        <h2 id="blockchainHeader">Blockchain Innovation Society</h2>

      </div>
    </div>
    <hr>
    <div class="subtitle">Leaders in blockchain education.</div>
  </div>

  <div class="rightBlockNewsletter col-md-5 col-sm-12 col-xs-5 ">

    <form matFormField>
      <div id="statement">
        <div>
          <div>Join our email list for</div>
          <div>organizational updates and early</div>
          <div>access to our educational content</div>
        </div>
      </div>
      <div id="email">
        <button id="submitButton" mat-button>Submit</button>
        <input id="emailInput" matInput placeholder="EMAIL" />
        <p class="termsText">By clicking submit, you are agreeing to our
          <u>Terms of Service</u>.</p>
        <br>
      </div>

    </form>
  </div>
  <div class="blockchainVideoDiv">
    <div class="px-sm-5 videoHeaderDiv">
      <h4>What is Blockchain Technology...</h4>
    </div>
    <div class="test align-self-center justify-content-center">
      <iframe class="blockchainVideo" src="https://www.youtube.com/embed/A6XUVjK9W4o" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<app-landing-page-about></app-landing-page-about>
<app-landing-page-groups></app-landing-page-groups>

<app-landing-page-about></app-landing-page-about>
<app-landing-page-groups></app-landing-page-groups>
<app-sponsors></app-sponsors>
<app-donations></app-donations>
<app-conact-us></app-conact-us>
<app-footer></app-footer>