form {

}
#blockchainHeader {
  color : black;
  padding-left: 5%;
  padding-top: 5%;
  margin: 0;
  font-size: 4em;
  font-family: 'Bold';
  line-height: 80%;
}

#subtitle {
  color : black;
  font-size: 15px;
  padding-top: 0px;
  margin: 0;
  font-family: 'Regular';
}
#email {
  padding: 5%;
  float: right;
}

#email p {
  font-size: 8px;
}
#statement {
  font-size: 1.2em;
  text-align: right;
  padding: 5%;
  color: black;
  font-family: 'Regular';
}

#submitButton {
  background-color: black;
  color: white;
  float: right;
}
#emailInput {
  color: white;
  border-style: solid;
  border-color: gray;
  height: 37px;
  width: 250px;
  float: right;
}
p#statement {
  margin-bottom: 8%;
}
#blockchainVideoHeader[_ngcontent-c1] {
  background-color: #2f3690;
  text-align: left;
  vertical-align: middle;
  padding: 2%;
  font-size: 1.2em;
  margin: 0;
  padding-left: 50px;
  color: white;
}
h4#blockchainVideoHeader {
  color: grey;
}
#blockchainVideo {
  height: 350px;
  width: 650px;
  position: absolute;
  margin-left: 25%;
  margin-top: 5%;

}

#blockchainVideoDiv {
  height: 550px;
  margin-bottom: 3%;
  background: #2E313A;

}

.blockChainImage {
  width: 100%;
}

.blockChain {
  padding: 5%;
  padding-left: 8%;
  margin-bottom: 5%;
}

.rightBlockNewsletter {
  padding-right: 8%;
  padding-top: 5%;
}
.termsText {
  float: right;
}
hr {
  margin-bottom: 0px !important;
}
