<h4 class="heading">Our Services</h4>
<div class="mainDiv">
  <div class="feasibility">
    <div class="image">
      <img src=".././../../../assets/images/consulting/img.png" width="500" height="350">
    </div>
    <div class="text">
      <div class="feasiblityHeading">Feasibility Reports</div>
      <hr>
      <div class="feasiblityBody">
        this is an example text this is an example text this is an example text this is an example text this is an example text this
        is an example text this is an example text this is an example text this is an example text this is an example text
        this is an example text this is an example textthis is an example text this is an example text this is an example
        text this is an example text this is an example textthis is an example textthis is an example textthis is an example
        text
      </div>
      <div>
        <button class="contactUsButton">CONTACT US</button>
      </div>
    </div>
  </div>

  <div class="feasibility">
    <div class="text">
      <div class="feasiblityHeading">Blockchain Strategy</div>
      <hr>
      <div class="feasiblityBody">
        this is an example text this is an example text this is an example text this is an example text this is an example text this
        is an example text this is an example text this is an example text this is an example text this is an example text
        this is an example text this is an example textthis is an example text this is an example text this is an example
        text this is an example text this is an example textthis is an example textthis is an example textthis is an example
        text
      </div>
      <div>
        <button class="contactUsButton">CONTACT US</button>
      </div>
    </div>
    <div class="image">
      <img src=".././../../../assets/images/consulting/img.png" width="500" height="350">
    </div>
  </div>

  <div class="feasibility">
    <div class="image">
      <img src=".././../../../assets/images/consulting/img.png" width="500" height="350">
    </div>
    <div class="text">
      <div class="feasiblityHeading">Executive Education</div>
      <hr>
      <div class="feasiblityBody">
        this is an example text this is an example text this is an example text this is an example text this is an example text this
        is an example text this is an example text this is an example text this is an example text this is an example text
        this is an example text this is an example textthis is an example text this is an example text this is an example
        text this is an example text this is an example textthis is an example textthis is an example textthis is an example
        text
      </div>
      <div>
        <button class="contactUsButton">CONTACT US</button>
      </div>
    </div>
  </div>
  <div class="feasibility">
    <div class="text">
      <div class="feasiblityHeading">Advanced Educational Material</div>
      <hr>
      <div class="feasiblityBody">
        this is an example text this is an example text this is an example text this is an example text this is an example text this
        is an example text this is an example text this is an example text this is an example text this is an example text
        this is an example text this is an example textthis is an example text this is an example text this is an example
        text this is an example text this is an example textthis is an example textthis is an example textthis is an example
        text
      </div>
      <div>
        <button class="contactUsButton">CONTACT US</button>
      </div>
    </div>
    <div class="image">
      <img src=".././../../../assets/images/consulting/img.png" width="500" height="350">
    </div>
  </div>


</div>