<div class="container-fluid">
  <h4 class="header">Our Services</h4>
  <div class="row aRow justify-content-center">
    <div class="left col-5 row">
      <img class="col-12 image1 d-inline-block" src=".././../../../assets/images/consulting/img.png" />
    </div>
    <div class="row right col-5 pt-2">
      <div class="heading">Feasibility Reports</div>
      <hr class="col-12" />
      <div>
        <p class="col-12">
          this is an example text this is an example text this is an example text this is an example text this is an example text this
          is an example text this is an example text this is an example text this is an example text this is an example text
          this is an example textthis is an example textthis is an example textthis is an example textthis is an example
          textthis is an example textthis is an example textthis is an example textthis is an example textthis is an example
          text
        </p>
      </div>
      <div>
        <button class="contactUsButton">CONTACT US</button>
      </div>
    </div>
  </div>

  <div class="row aRow justify-content-center">
    <div class="pt-2 row col-5">
      <div class="rightHeading">Blockchain Strategy</div>
      <hr class="col-12" />
      <div>
        <p class="col-12">
          this is an example text this is an example text this is an example text this is an example text this is an example text this
          is an example text this is an example text this is an example text this is an example text this is an example text
          this is an example textthis is an example textthis is an example textthis is an example textthis is an example
          textthis is an example textthis is an example textthis is an example textthis is an example textthis is an example
          text
        </p>
      </div>
      <div>
        <button class="contactUsButton">CONTACT US</button>
      </div>
    </div>
    <div class=" col-5 row">
      <img class="right2 col-12  d-inline-block" src=".././../../../assets/images/consulting/img.png" />
    </div>
  </div>

  <div class="row aRow justify-content-center">
    <div class="left col-5 row">
      <img class="col-12 image1 d-inline-block" src=".././../../../assets/images/consulting/img.png" />
    </div>
    <div class="row right col-5 pt-2">
      <div class="heading">Executive Educations</div>
      <hr class="col-12" />
      <div>
        <p class="col-12">
          this is an example text this is an example text this is an example text this is an example text this is an example text this
          is an example text this is an example text this is an example text this is an example text this is an example text
          this is an example textthis is an example textthis is an example textthis is an example textthis is an example
          textthis is an example textthis is an example textthis is an example textthis is an example textthis is an example
          text
        </p>
      </div>
      <div>
        <button class="contactUsButton">CONTACT US</button>
      </div>
    </div>
  </div>

  <div class="row aRow justify-content-center">
    <div class="pt-2 row col-5">
      <div class="heading">Advanced Educational Material</div>
      <hr class="col-12" />
      <div>
        <p class="col-12">
          this is an example text this is an example text this is an example text this is an example text this is an example text this
          is an example text this is an example text this is an example text this is an example text this is an example text
          this is an example textthis is an example textthis is an example textthis is an example textthis is an example
          textthis is an example textthis is an example textthis is an example textthis is an example textthis is an example
          text
        </p>
      </div>
      <div>
        <button class="contactUsButton">CONTACT US</button>
      </div>
    </div>
    <div class=" col-5 row">
      <img class="right2 col-12  d-inline-block" src=".././../../../assets/images/consulting/img.png" />
    </div>
  </div>
</div>