<ngb-carousel>
  <ng-template ngbSlide>
    <div class="row carouselTest col-md-12">
      <div class=" col-md-3 col-sm-3 col-xs-3 ">
      </div>
      <div class=" ngbText col-md-6 col-sm-6 col-xs-6 ">
        Working with thee BIS has been one of the most rewarding experiences. It provides us
        with
        an opportunity to learn, ideate and get involved with blockchain technology without the
        downside risk of pivoting our primary business. The leadership has done a phenomenal job
        of creating content specific to our needs and building a community for us to learn with.
      </div>
      <div class=" col-md-3 col-sm-3 col-xs-3 ">
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <!--<img [src]="bbb" alt="Random second slide">-->
    <div class="row carouselTest col-md-12">
      <div class=" col-md-3 col-sm-3 col-xs-3 ">
      </div>
      <div class=" ngbText col-md-6 col-sm-6 col-xs-6 ">
        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text
        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text
        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text
        Sample text Sample text Sample text Sample text Sample text Sample text Sample text Sample text
      </div>
      <div class=" col-md-3 col-sm-3 col-xs-3 ">
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row carouselTest col-md-12">
      <div class=" col-md-3 col-sm-3 col-xs-3 ">
      </div>
      <div class=" ngbText col-md-6 col-sm-6 col-xs-6 ">
        Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample
        Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample
        Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample
        Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample Another Sample
      </div>
      <div class=" col-md-3 col-sm-3 col-xs-3 ">
      </div>
    </div>
  </ng-template>
</ngb-carousel>
