<div class="mainDiv container-fluid row">
  <div class="bis col-2">© Blockchain Innovation Society 2018</div>

  <div class="aboutUs col-2">
    <div>About Us</div>
    <div>Contact</div>
    <div>Terms & Condition</div>
  </div>

  <div class="socialMedia col-2">
    <div class="flexDisplay">
      <img src="../../../assets/images/Facebook.png" alt="Facebook" width="8" height="12">
      <div class="paddingText">Facebook</div>
    </div>
    <div class="flexDisplay">
      <img src="../../../assets/images/Twitter.png" alt="Facebook" width="10" height="12">
      <div class="paddingText">Twitter</div>
    </div>
    <div class="flexDisplay">
      <img src="../../../assets/images/Instagram.png" alt="Facebook" width="10" height="12">
      <div class="paddingText">Instagram</div>
    </div>
  </div>

  <div class="col-3 subscription">
    <div class="subscriptionText">Subscribe to our newsletter</div>
    <div class="subscriptionForm">
      <input id="emailAddress" type="text" placeholder="Email Address">
      <button id="okButton">OK</button>
    </div>
  </div>

  <div class="col-3 address">
    <div> 547 Evergreen Rd. Tempe, AZ 85282</div>
    <div>(602) 616 5555</div>
    <div>support@innovateblockchain.com</div>
  </div>

</div>