<div>
  <div class="peoplePraises">
    <div class="title">
      Hear what people are saying
    </div>
    <div class="branding">
      <img class="icon" src="../../../assets/images/ASU.png" width="90" height="80" alt="ASU">
      <img class="icon" src="../../../assets/images/State Press.png" width="170" height="50" alt="statepress">
      <img class="icon" src="../../../assets/images/TechAZ.png" width="120" height="120" alt="techaz">
    </div>
  </div>
  <div class="sponsor">
    <div class="text">
      <div>Interested in becoming a </div>
      <div> sponsor? Check out our </div>
      <div id="corporateSponsorship"> corporate sponsorship </div>
      <div> opportunities</div>
    </div>
    <div>
      <div>
        <input id="emailInput" type="text" placeholder="EMAIL">
      </div>
      <div>
        <button id="submitButton">Send</button>
      </div>
    </div>
  </div>
</div>